* {
 margin: 0;
 padding: 0; 
}
body {
  font-family: arial;
  min-height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center;
} 
.container {
  padding: 20px;
  border-radius: 20px;
  background: #b9e8b9;
  width: 620px;
  max-width: calc(100% - 40px);
  min-height: 200px;
} 

.step__textarea {
  width: 100%;
  min-height: 100px;
  min-width: 100%;
  max-width: 100%; 
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 12px;
  font-family: arial;
  color: #666;
  box-sizing: border-box;
  margin: 10px 0 20px;
}
.emotions__intro {
    margin: 5px;
    margin-bottom: 20px;
  }
.emotions__container {
  display: flex; 
  margin: 0 -5px;
}

.emotions__list {
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-bottom: 20px;
  font-size: 14px;
  width: 33.33%;
}

.emotions__item {
  background: #fff;
  padding: 6px 15px;
  margin: 6px;
  border-radius: 12px;
  color: #666;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); 
}

.emotions__item:hover {
  cursor: pointer;
  background: #f0f0f0;
  color: #333;
} 
.emotions__item--selected, 
.emotions__item--selected:hover {
  background: yellow;
}

.emotions__item.hidden {
  display: none;
}